<h3>Entorno:</h3>


<%=render :partial => '/texto/elementos/museo/hitos', :locals => {:entorno => entorno }%>
<hr/>

<%=render :partial => '/texto/elementos/museo/urbanos', :locals => {:entorno => entorno }%>
<hr/>

<%=render :partial => '/texto/elementos/museo/rutas', :locals => {:entorno => entorno }%>
<hr/>

